<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Dringlichkeit</th>
        <th>Einweisung</th>
        <th>Alter</th>
        <th>PLZ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aufenthalt of aufenthalte">
        <td>{{aufenthalt.aufenthaltID}}</td>
        <td>{{aufenthalt.startdate}}</td>
        <td>{{aufenthalt.enddate}}</td>
        <td>{{aufenthalt.dringlichkeit}}</td>
        <td>{{aufenthalt.einweisungsart}}</td>
        <td>{{aufenthalt.alter}}</td>
        <td>{{aufenthalt.plz}}</td>
      </tr>
    </tbody>
  </table>
</div>
